## Go-lang files
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

## NLP files
*.lattices
*.raw
*.conll

## data dir
data/
corpus/

# data archive files
*.tar.gz

## runtime and profiling dir
prof/
oldlogs/

# python files
*.pyc

# IDE folders
.ropeproject/

# folders i don't want to see
quiet/
